
.main{
    display:flex;
}

.slides{
    padding: 0;
    width: 60vw;
    height: 83vh;
}



.login-banner {
  grid-column: span 2 / span 2;
  grid-row: span 5 / span 5;
  grid-column-start: 4;
  text-align: center;
}


.slides{
    color: #fff;
    display: flex;
    text-align: center;
    line-height: 1.5;
    flex-grow: 1;
    min-width: 0;
    gap: 12vw;
}

.qoute{
    display: flex;
    border: 1px solid #00d2d3;
    border-radius: 20px;
    align-items: center;
    font-size: 0.6rem;
    padding: 5px 10px 5px 5px;
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    background-color: rgba(35, 42, 42, 0.699);
    margin-bottom: 0.5vh;
    h3{
        margin: 0px;
    }
    img{
        width: 28px;
        height: 22px;
        
    }
}


.slide1{
    margin:15vh 10vh 5vh 5vh;
    line-height: 1.2;
}
span{
    color: #00d2d3;
}
#text-home{
    color: #e1ebeb;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0vh;
    span{
      border-right: 2px solid #00d2d3;
      animation: blink 1.5s infinite;
      padding-right: 5px;
    }     
    
}   

@keyframes blink {
  50% {
    border-color: transparent; 
  }
}

#text-slide1{
    color: #ffffffbf;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1.5vh 0vh 0vh 0vh;
    padding: 0px 0px 0px 0px;
    WIDTH: 35vw;
    text-align: left;
    
}

.features-info{
  margin-top: 20px;
  width: 40vw;
  height: auto;
  background-color: rgba(35, 42, 42, 0.429);
  border-radius: 35px;
  
  ul{
    display: flex;
    padding: 2px;
    gap: 4vw;
    margin: 8px;
    border-left: #333;
  }
  .feature{
    display: flex;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      padding: 5px;
    }

    #reportIssues_Icon{
      border: 1px solid #00d2d3;
    }
    #trackStatus_Icon{
      border: 1px solid #0770d0;
    }
    #betterCampus_Icon{
      border: 1px solid #7b56c1;
    }


    .feature-text{
      display: flex;
      flex-direction: column;
      h4, p{
        padding: 0px 5px;
        margin: 0px;
        text-align: left;
      }
      h4{
        font-size: small;
      }
      p{
        font-size: x-small;
      }

    }
  }
}


.welcome-banner {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  height: 75vh;
  width: 35vw;
  margin-top: 3vh;
  background-image: url(../../Assets/bannerImg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  h1{
    margin-top: 20vh;
    margin-bottom: 0;
    font-size:x-large;
  }
  p{
    margin-top: 0px;
    width: 20vw;
    font-size: medium;
  }
  .signIn-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25vw;
    height: 6vh;
    border-radius: 15px;
    background-color: #007bff;
    border: 0;
    align-content: center;
    img{
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 50%;
    }
    span{
      padding: 5px;
      color: white;
      font-weight: 500;
    }
  }
}

