.loader-bg{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(35, 42, 42, 0.189);;
}

.loader {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 5px solid #f3f3f300;
  border-top: 5px solid #3498db;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}