.navbar {
  width: 100%;
  background: none;
  position: sticky;
  z-index: 1000;
}

.navbar-container {
  max-width: 100%;
  top: 0;
  position: sticky;
  height: 70px;
  padding: 0 25px;
  padding-right: 3.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(35, 42, 42, 0.137);
  
}



.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
  width: fit-content;
  
}

.logo{
  display: flex;
  align-items: center;
}






.logo-image {
  padding: 5px 5px;
  width: auto;
}




/* Mobile */

@media (max-width: 768px) {
  .navbar-container{
    padding: 15px;
    height: auto;
    background-color: rgba(35, 42, 42, 0.354);
  }
  .logo{
    align-items: center;
    .logo-image{
      width: 25px;
      padding: 0 5px 0 0;
    }
    a{
      font-size: x-large;
    }
  }
}

.native-modal{
    border-radius: 30px;
    width: 80px;
    height: 50px;
    background-color: rgba(23, 22, 22, 0.717);
    color: #fff;
}

/* tablet devices */
@media (max-width: 990px) {

}
