.navbar {
  width: 100%;
  background: none;
  position: sticky;
  z-index: 1000;
}

.navbar-container {

  max-width: 100%;
  top: 0;
  position: sticky;
  height: 70px;
  padding: 0 25px;
  padding-right: 3.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: bold;
  width: fit-content;
  
}

.logo{
  display: flex;
  align-items: center;
}



.nav-link:hover {
  color: #00d2d3;
  transition: 0.5s;
  border-bottom: 2px solid #00d2d3;
  padding: 5px;
}


.logo-image {
  padding: 5px 5px;
  width: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu a {
  text-decoration: none;
  color: #fffefe;
  font-weight: 700;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu:hover {
  color: #007bff;
}

.navbar-signIn-btn {
  background: linear-gradient(to right,#00b8b4, #0089b2);
  color: white !important;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
}

.navbar-signIn-btn:hover {
  background: linear-gradient(to right,#0089b2, #00b8b4);
}



.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 26px;
  height: 3px;
  background: #d7d6d6;
  margin: 5px;
  transition: 0.3s;
}



/* Mobile */

@media (max-width: 768px) {
  .navbar-container{
    padding: 15px;
    height: auto;
  }
  .logo{
    align-items: center;
    .logo-image{
      width: 25px;
      padding: 0 5px 0 0;
    }
    a{
      font-size: x-large;
    }
  }
  .hamburger {
    display: block;
    width: 15%;
    span{
      margin-top: 0;
      height: 4px;
      width: 20px;
      margin: 0 2px 2px 2px;
    }
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(1px, 7px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(1.5px, -8px);
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 25px;
    padding: 30px 0;
    transition: 0.3s;
    border-top: 1px solid #eee;
  }

  .nav-menu.active {
    left: 0;
  }
}

.native-modal{
    border-radius: 30px;
    width: 800px;
    height: 500px;
    background-color: rgba(23, 22, 22, 0.717);
    color: #fff;
}
