.navbar-signIn-btn {
  background: linear-gradient(to right, #00b8b4, #0089b2);
  color: white !important;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin: 10px 10px 10px 0px;
}

.navbar-signIn-btn:hover {
  background: linear-gradient(to right, #0089b2, #00b8b4);
  transform: scale(1.02);
  box-shadow: 0 0 6px #080808a6;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(35, 42, 42, 0.507);
  border-radius: 20px;
  padding: 5px;
  .profileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
  span{
    padding: 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .navbar-signIn-btn {
    width: 90%;
  }
}
