.footer {
  background-color: rgb(11, 21, 33);
  color: #fff;
  padding: 0;
  text-align: center;
  height: 8vh;
  bottom: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Mobile devices */
@media (max-width: 768px) {
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    height: 5vh;
    p{
      text-align: center;
    }
  }
}