.navComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  margin-right: 4vw;
  justify-content: space-between;
}

.selectCampus {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  label {
    font-weight: 500;
    font-family:  Calibri;
    color: rgba(255, 255, 255, 0.836);
    padding-bottom: 2px;
  }
  select {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.153);
    color: white;
    border-radius: 5px;
    height: 4vh;
    outline: none;
  }
  select option {
    background-color: #1e293b;
  }

}

/* for navbar components */
.user-info {
  .profileImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    font-size: large;
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-btn {
 display: flex;
 align-items: center;
  width: max-content;
  height: 6.5vh;
  border: none;
  border-radius: 20px;
  background-color: rgba(35, 42, 42, 0.507);
  cursor: pointer;
}

.user-dropdown-btn:after{
    border-radius: 20px 20px 0px 20px;
}

.user-dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #333;
  border-radius: 10px 0px 10px 10px;
  overflow: visible;
  z-index: 100;
}

.user-dropdown-item {
  padding: 12px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.user-dropdown-item:hover {
  background: #444;
  border-radius: 10px;
}
